$primary-blue: #0049AC;
$dark-blue: #013460;
$light-blue: #E6F4FE;
$primary-orange: #F4B130;
$light-grey: #EEEEEE;
$light-color: #FEFEFE;
$dark-color: #353535;
$grey-border: #dbe2e8;
$transparent: transparent;

