.Loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000000000;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;

  &__container {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;

    .round-border {
      position: absolute;
      top: 0;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      border-top: solid 4px $light-grey;
      border-bottom: solid 4px $light-grey;
      border-left: solid 4px $light-grey;
      border-right: solid 4px transparent;
      animation: 1s linear infinite spinny;
    }

    img {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 80px;
      height: 80px;
      animation: 2s linear infinite fading;
    }
  }
}

@keyframes spinny {
  0%  { transform: rotate(0deg)}

  25% {transform:rotate(90deg)}

  50% {transform:rotate(180deg)}

  75% {transform:rotate(270deg)}

  100%  { transform:rotate(360deg)}
}


@keyframes fading {
  0%  { opacity: 1 }

  25% {opacity: 0.75}

  50% {opacity: 0.5}

  75% {opacity: 0.75}

  100%  { opacity: 1}
}

.Skin {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;

  img {
    width: 250px;
    animation: 2s linear infinite fading;
  }
}
