.Nav {
  @include media-breakpoint-down(lg) {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) $im;
  }

  .navbar-collapse {
    @include media-breakpoint-up(lg){
      margin-top: 0.6rem $im;
    }

    a {
      color: $dark-color;

      &.active {
        color: $primary-orange;
      }
    }
  }
}
